includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
    bootstrapFiles:
        - performance-optimisation.php
    level: 5
    paths:
        - includes/
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        - '#Offset 2 on array.* on left side of \?\? always exists and is not nullable.#'
