/* admin-bar.css */
#wpadminbar .wppo-cache-size {
    font-weight: 600;
    color: #ffd700;
    margin-left: 2px;
}

#wpadminbar .wppo-status-optimized {
    color: #46b450;
}

#wpadminbar .wppo-status-recommended {
    color: #ffb900;
}

#wpadminbar .wppo-status-required {
    color: #dc3232;
}

#wpadminbar .ab-item.disabled {
    opacity: 0.7;
    cursor: not-allowed;
    pointer-events: none;
}
